* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  /*Answer Input*/
  display: grid; /* Make it a grid */
  grid-template-columns: 1fr, 4fr; /* Grid has 2 columns, the 2nd one is 4x bigger than the first */
  gap: 4px; /*Gap is 4px */
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  /*Answer Input*/
  display: grid; /* Make it a grid */
  grid-template-columns: repeat(2, 1fr); /*Grid has 2 columns, assuming both are same size*/
  grid-column-start: 1;
  grid-column-end: 2;
}

/*Answer Input*/
.logo {
  justify-self: start; /*Positions the logo far left */

}
/*Answer Input*/
.header ul {
  list-style-type: none; /*Removes the bullet points */
}
.menu ul,
.menu li {
  font-size: 16px;
  /*Answer Input */
  display: grid; /* Specified that the ul inside the menu contains a grid */
  grid-template-columns: repeat(4, 1fr); /*Make grid have 4 columns separating the list items */
  white-space: nowrap; /*Makes it so the texts are 1 line*/
}

.sidebar {
  background-color: #C50208;
  /*Answer Input*/
  display: grid; 
  gap: 50px; /*Specified that it has 50px gap */
  grid-column-start: 1;
  grid-column-end: 1;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  /*Answer Input */
  display: grid; /*Centers content with grid */
}

.nav {
  background-color: #C50208;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 2;
}
/*Answer Input*/
.nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  /*Answer Input*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(1fr, 15%));
  gap: 15px;
  grid-column-start: 2;
  grid-column-end: 2;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px; /*Explicitly defined to have 200px*/
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  /*Answer Input*/
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}